<mat-sidenav-container class="sidenav-container">

    <!-- Side navigation -->
    <mat-sidenav #sidenav class="sidenav" mode="side" opened>
      <mat-nav-list>
        <mat-list-item routerLink="/dashboard/temperature" (click)="sidenav.toggle()">
            <mat-icon matListIcon>cloud</mat-icon>
            <span> Temperature Dashboard</span>
          </mat-list-item>
          <mat-list-item routerLink="/dashboard/power" (click)="sidenav.toggle()">
              <mat-icon matListIcon>power icon</mat-icon>
              <span> Power Dashboard</span>
            </mat-list-item>
        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon matListIcon>settings</mat-icon>
          <span> Settings</span>
        </mat-list-item>
        <!-- Add more navigation items here -->
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main content -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="dashboard-title">Dashboard</span>
        <span class="spacer"></span> <!-- Spacer after the title -->
      </mat-toolbar>
  
      <!-- Dashboard content goes here -->
      <div class="dashboard-content">

        <!-- Title centered above the gauges -->
        <h2 class="section-title">Power Gauges</h2>
        <!-- Make this a flex container -->
        <div class="gauge-wrapper">

            <div class="gauge-container">
                <app-gauge
                [site]="'koltrastvägen'"
                [category]="'grid_power_kW'"
                [unit]="'kW'"
                [title]="'Grid Power'"
                [range_min]="-5"
                [range_max]="10"
                ></app-gauge>
            </div>
            <div class="gauge-container">
                <app-gauge
                [site]="'koltrastvägen'"
                [category]="'home_power_kW'"
                [unit]="'kW'"
                [title]="'Home Power'"
                [range_min]="-5"
                [range_max]="10"
                ></app-gauge>
            </div>
            <div class="gauge-container">
                <app-gauge
                [site]="'koltrastvägen'"
                [category]="'pv_solar_power_kW'"
                [unit]="'kW'"
                [title]="'PV Power'"
                [range_min]="-5"
                [range_max]="10"
                ></app-gauge>
            </div>
        </div>
        
        <h2 class="section-title">Power Graphs</h2>

        <div class="linechart-wrapper">
            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Power Last Hour'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                        { site: 'koltrastvägen', category: 'grid_power_kW', label: 'Grid' },
                        { site: 'koltrastvägen', category: 'home_power_kW', label: 'Home' },
                        { site: 'koltrastvägen', category: 'pv_solar_power_kW', label: 'PV' },
                    ]" 
                    [timeframe]="'lastHour'">
                </app-line-chart>
            </div>
            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Power This Day'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                        { site: 'koltrastvägen', category: 'grid_power_kW', label: 'Grid' },
                        { site: 'koltrastvägen', category: 'home_power_kW', label: 'Home' },
                        { site: 'koltrastvägen', category: 'pv_solar_power_kW', label: 'PV' },
                    ]" 
                    [timeframe]="'thisDay'">
                </app-line-chart>
            </div>

            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Power Last Week'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                        { site: 'koltrastvägen', category: 'grid_power_kW', label: 'Grid' },
                        { site: 'koltrastvägen', category: 'home_power_kW', label: 'Home' },
                        { site: 'koltrastvägen', category: 'pv_solar_power_kW', label: 'PV' },
                    ]" 
                    [timeframe]="'thisWeek'">
                </app-line-chart>
            </div>

            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Power This Month'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                        { site: 'koltrastvägen', category: 'grid_power_kW', label: 'Grid' },
                        { site: 'koltrastvägen', category: 'home_power_kW', label: 'Home' },
                        { site: 'koltrastvägen', category: 'pv_solar_power_kW', label: 'PV' },
                    ]" 
                    [timeframe]="'thisMonth'"
                    [smoothingFactor]="5">
                </app-line-chart>
            </div>

            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Power Last Year'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                        { site: 'koltrastvägen', category: 'grid_power_kW', label: 'Grid' },
                        { site: 'koltrastvägen', category: 'home_power_kW', label: 'Home' },
                        { site: 'koltrastvägen', category: 'pv_solar_power_kW', label: 'PV' },
                    ]" 
                    [timeframe]="'thisYear'"
                    [smoothingFactor]="20">
                </app-line-chart>
            </div>
        </div>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
<router-outlet></router-outlet>