
<app-gauge
    [site]="'koltrastvägen'"
    [category]="'temp_outdoor_c'"
    [unit]="'°C'"
    [title]="'Outdoor Temp'"
    [range_min]="-15"
    [range_max]="25"
>

</app-gauge>


<app-line-chart 
    [chartTitle]="'Temperature Last Hour'"
    [labels]="{ yAxis: '°C', xAxis: 'Time'}"
    [dataSources]="[
        { site: 'koltrastvägen', category: 'temp_indoor_c', label: 'Indoor' },
        { site: 'koltrastvägen', category: 'temp_outdoor_c', label: 'Outdoor' },
    ]" 
    [timeframe]="'lastHour'">
</app-line-chart>

<app-line-chart 
    [chartTitle]="'Temperature This Day'"
    [labels]="{ yAxis: '°C', xAxis: 'Time'}"
    [dataSources]="[
        { site: 'koltrastvägen', category: 'temp_indoor_c', label: 'Indoor' },
        { site: 'koltrastvägen', category: 'temp_outdoor_c', label: 'Outdoor' },
    ]" 
    [timeframe]="'thisDay'">
</app-line-chart>

<app-line-chart 
    [chartTitle]="'Temperature Last Week'"
    [labels]="{ yAxis: '°C', xAxis: 'Time'}"
    [dataSources]="[
        { site: 'koltrastvägen', category: 'temp_indoor_c', label: 'Indoor' },
        { site: 'koltrastvägen', category: 'temp_outdoor_c', label: 'Outdoor' },
    ]" 
    [timeframe]="'thisWeek'">
</app-line-chart>

<app-line-chart 
    [chartTitle]="'Temperature This Month'"
    [labels]="{ yAxis: '°C', xAxis: 'Time'}"
    [dataSources]="[
        { site: 'koltrastvägen', category: 'temp_indoor_c', label: 'Indoor' },
        { site: 'koltrastvägen', category: 'temp_outdoor_c', label: 'Outdoor' },
    ]" 
    [timeframe]="'thisMonth'"
    [smoothingFactor]="5">
</app-line-chart>

<app-line-chart 
    [chartTitle]="'Temperature Last Year'"
    [labels]="{ yAxis: '°C', xAxis: 'Time'}"
    [dataSources]="[
        { site: 'koltrastvägen', category: 'temp_indoor_c', label: 'Indoor' },
        { site: 'koltrastvägen', category: 'temp_outdoor_c', label: 'Outdoor' },
    ]" 
    [timeframe]="'thisYear'"
    [smoothingFactor]="20">
</app-line-chart>



<!--
<app-help>
    
</app-help>
-->

<router-outlet></router-outlet>
