<mat-sidenav-container class="sidenav-container">

    <!-- Side navigation -->
    <mat-sidenav #sidenav class="sidenav" mode="side" opened>
        <mat-nav-list>
          <mat-list-item routerLink="/dashboard/temperature" (click)="sidenav.toggle()">
              <mat-icon matListIcon>cloud</mat-icon>
              <span> Temperature Dashboard</span>
            </mat-list-item>
        <mat-list-item routerLink="/dashboard/power" (click)="sidenav.toggle()">
            <mat-icon matListIcon>power icon</mat-icon>
            <span> Power Dashboard</span>
            </mat-list-item>
        <mat-list-item routerLink="/dashboard/energy" (click)="sidenav.toggle()">
            <mat-icon matListIcon>battery_charging_full</mat-icon>
            <span> Energy Dashboard</span>
        </mat-list-item>
        <mat-list-item (click)="sidenav.toggle()">
            <mat-icon matListIcon>settings</mat-icon>
            <span> Settings</span>
        </mat-list-item>
          <!-- Add more navigation items here -->
        </mat-nav-list>
      </mat-sidenav>
  
    <!-- Main content -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="dashboard-title">Energy Dashboard</span>
        <span class="spacer"></span> <!-- Spacer after the title -->
      </mat-toolbar>
  
      <!-- Dashboard content goes here -->
      <div class="dashboard-content">

        <!-- Title centered above the gauges -->
        <h2 class="section-title">Energy Gauges</h2>
        <!-- Make this a flex container -->
        <div class="gauge-wrapper">

            <div class="gauge-container">
                <app-gauge
                [site]="'koltrastvägen'"
                [category]="'grid_import_day_energy_kWh'"
                [unit]="'kWh'"
                [title]="'Grid Import Day'"
                [range_min]="-5"
                [range_max]="10"
                ></app-gauge>
            </div>
            <div class="gauge-container">
                <app-gauge
                [site]="'koltrastvägen'"
                [category]="'pv_solar_day_energy_kWh'"
                [unit]="'kWh'"
                [title]="'PV Energy Day'"
                [range_min]="-5"
                [range_max]="10"
                ></app-gauge>
            </div>
            <div class="gauge-container">
                <app-gauge
                [site]="'koltrastvägen'"
                [category]="'home_day_energy_kWh'"
                [unit]="'kWh'"
                [title]="'Home Energy Day'"
                [range_min]="-5"
                [range_max]="10"
                ></app-gauge>
            </div>
        </div>
        
        <h2 class="section-title">Power Graphs</h2>

        <div class="linechart-wrapper">
            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Energy Last Hour'"
                    [labels]="{ yAxis: 'kWh', xAxis: 'Time'}"
                    [dataSources]="[
                        { site: 'koltrastvägen', category: 'grid_import_day_energy_kWh', label: 'Grid Import' },
                        { site: 'koltrastvägen', category: 'pv_solar_day_energy_kWh', label: 'PV Energy' },
                        { site: 'koltrastvägen', category: 'home_day_energy_kWh', label: 'Home Energy' },
                    ]" 
                    [timeframe]="'lastHour'">
                </app-line-chart>
            </div>
            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Energy This Day'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                    { site: 'koltrastvägen', category: 'grid_import_day_energy_kWh', label: 'Grid Import' },
                    { site: 'koltrastvägen', category: 'pv_solar_day_energy_kWh', label: 'PV Energy' },
                    { site: 'koltrastvägen', category: 'home_day_energy_kWh', label: 'Home Energy' },
                    ]" 
                    [timeframe]="'thisDay'">
                </app-line-chart>
            </div>

            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Energy Last Week'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                    { site: 'koltrastvägen', category: 'grid_import_day_energy_kWh', label: 'Grid Import' },
                    { site: 'koltrastvägen', category: 'pv_solar_day_energy_kWh', label: 'PV Energy' },
                    { site: 'koltrastvägen', category: 'home_day_energy_kWh', label: 'Home Energy' },
                    ]" 
                    [timeframe]="'thisWeek'">
                </app-line-chart>
            </div>

            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Energy This Month'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                    { site: 'koltrastvägen', category: 'grid_import_day_energy_kWh', label: 'Grid Import' },
                    { site: 'koltrastvägen', category: 'pv_solar_day_energy_kWh', label: 'PV Energy' },
                    { site: 'koltrastvägen', category: 'home_day_energy_kWh', label: 'Home Energy' },
                    ]" 
                    [timeframe]="'thisMonth'"
                    [smoothingFactor]="5">
                </app-line-chart>
            </div>

            <div class="linechart-container">
                <app-line-chart 
                    [chartTitle]="'Energy Last Year'"
                    [labels]="{ yAxis: 'kW', xAxis: 'Time'}"
                    [dataSources]="[
                    { site: 'koltrastvägen', category: 'grid_import_day_energy_kWh', label: 'Grid Import' },
                    { site: 'koltrastvägen', category: 'pv_solar_day_energy_kWh', label: 'PV Energy' },
                    { site: 'koltrastvägen', category: 'home_day_energy_kWh', label: 'Home Energy' },
                    ]" 
                    [timeframe]="'thisYear'"
                    [smoothingFactor]="20">
                </app-line-chart>
            </div>
        </div>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
<router-outlet></router-outlet>