
.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
    background-color: rgb(32, 35, 64);
}

.mat-toolbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 42, 87);
    z-index: 2; /* adjust if needed */
    top: 0;
}

.mat-sidenav-content {
    padding-top: 54px; /* This is a standard height for mat-toolbar. Adjust if your toolbar has a different height. */
}

.mat-sidenav {
    position: fixed;
    left: 0;
    z-index: 1; /* adjust if needed */
}

.spacer {
    flex: 1 1 auto;
}

.dashboard-content {
    padding: 20px;
    background-color: #11141f;
}

.dashboard-title {
    font-size: x-large;  /* Adjust as needed */
}

.dashboard-content {
    display: flex;
    justify-content: space-between;  /* Horizontally center the content */
    align-items: center;      /* Vertically center the content */
    height: 100%;             /* Use full height of the container */
    flex-direction: column;   /* Stack items vertically */
    overflow-x: hidden;
}

  
.gauge-wrapper {
    display: flex;
    justify-content: space-evenly;

    margin-top: 2.5%;
    padding-bottom: 5%;

    width: 100%;
}

.gauge-container {
}

.section-title {
    text-align: center;      /* Center the title */
    margin-top: 20px;        /* Space at the top */
    margin-bottom: 30px;     /* Space between the title and the gauges */
    font-size: xx-large;         /* Adjust font size as needed */
    color: #eae6e6;             /* Adjust color as needed */
    font-weight: 500;        /* Semi-bold font weight */
}

.linechart-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.linechart-container {
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}