
body {
    background-color: #090a0e;  /* Dark background */
    color: #ddd;  /* Light text */
    font-family: 'Roboto', monospace;  /* Change the font */
}

.plot{
    position: relative;
    background: #191c24;
    border-radius: 10px;
    border: 2px solid #353943;
}
  
.tooltip {
    position: absolute;
    padding: 1%;
    background: rgba(0, 0, 0, 0.8);  /* Dark tooltip with some transparency */
    color: #ddd;  /* Light text in tooltip */
    border: 1px solid #999;  /* Gray border */
    border-radius: 5px;
    pointer-events: none;
}

.chartTitle {
    fill: #ddd;
    font-size: x-large;
    font-family: 'Lato', monospace;
}

.x.label, .y.label {
    fill: #ddd;
    font-size: x-large;
    font-family: 'Open Sans', monospace;
}

.tooltip {
    fill: #ddd;
    font-size: large;
    font-family: 'Open Sans', monospace;
}

.legend{
    fill: #ddd;
    font-size: large;
    font-family: 'Open Sans', monospace;
}

.axis text {
    font-size: large;  /* Increase font size */
    fill: #ddd;  /* Light color for dark theme */
  }

.dot{
    fill:#0dcaf0;
    opacity: .75;
    pointer-events: none;
}

.dot-hover{
    opacity: 0;
}